body {
    text-align: center;
    padding: 10px;
    margin: 10px;
}

div {
    margin: 10px;
}



.country {
    display:none;
}

.eng {
    display:none;
}

.ni {
    display:none;
}

.scot {
    display:none;
}